deepgrad/examples/datasets/
deepgrad/examples/mnist_model.pkl
deepgrad/examples/fashion_model.pkl
deepgrad/examples/models/

deepgrad/venv
__pycache__
simd-backend/build/
deepgrad/__pycache__
deepgrad/examples/__pycache__
deepgrad/examples/llm