deepgrad/examples/datasets/mnist_train.csv
deepgrad/examples/datasets/mnist_train.bin

deepgrad/examples/datasets/mnist_test.csv
deepgrad/examples/datasets/mnist_test.bin

deepgrad/examples/datasets/fashion_mnist_train.csv
deepgrad/examples/datasets/fashion_mnist_train.bin

deepgrad/examples/datasets/fashion_mnist_test.csv
deepgrad/examples/datasets/fashion_mnist_test.bin

deepgrad/examples/datasets/lichess.py

deepgrad/examples/mnist_model.pkl
deepgrad/examples/fashion_model.pkl

deepgrad/venv
__pycache__
simd-backend/build/
deepgrad/__pycache__
deepgrad/examples/__pycache__
deepgrad/examples/llm
