deepgrad/examples/mnist_train.csv
deepgrad/examples/mnist_train.bin
deepgrad/examples/mnist_test.csv
deepgrad/examples/mnist_test.bin
deepgrad/examples/model.pkl
deepgrad/venv
__pycache__
simd-backend/build/
deepgrad/__pycache__
deepgrad/examples/__pycache__